*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: rgb(247, 239, 239);
}

@font-face {
    font-family: marioBros;
    src: url(../fonts/Super\ Mario\ Bros..ttf);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo {
    background-image: url(../assets/escenario.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
}
.mariobros {
    position: absolute;
    top: 77%;
}
.audio { 
    width: 10%;
    box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
    border-radius: 90px;
    transform: scale(1.05);
  }

.mariomotion {
    position: relative;
    animation: mario 20s infinite;
}
@keyframes mario {
 0% {top:75%; left: 0%;}
10% {top:75%; left: 8%;}
15% {top: 62%;left: 8%;}
20% {top: 62%; left: 15%;}
25% {top: 60%; left: 15%;}
30% {top: 60%; left: 20%;}
35% {top: 62%; left: 26%;}
40% {top: 62%; left: 30%;}
45% {top: 75%; left: 30%;}
50% {top: 75%; left: 33%;}
55% {top: 63%; left: 33%;}
60% {top: 75%; left: 33%;}
80% {top: 75%; left: 71%;}
85% {top: 63%; left: 71%;}
90% {top: 75%; left: 71%;}
100% {top: 75%; left: 95%;}

/* 





    65% {top: 430px; left: 880px; rotate: 90deg;}
    70% {top: 430px; left: 1040px; rotate: 0deg;}
    75% {top: 500px; left: 1040px; rotate: 90deg;}
    80% {top: 500px; left: 1110px; rotate: 0deg;}
    85% {top: 650px; left: 1110px; rotate: 90deg;}
    90% {top: 650px; left: 1180px; rotate: 0deg;}
    95% {top: 580px; left: 1180px; rotate: -90deg;}
    100% {top: 580px; left: 1232px; rotate: 0deg;}




100% {top: 100px;}*/
}